<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for (let message of messages) { %>
        <li>
          <p><% message.user %><span><% message.added %></span></p>
          <p><% message.text %></p>
        </li>
      <% } %>
    </ul>
  </body>
</html>
